[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.8"

[packages]
melo = "*"
beautifulsoup4 = "*"
transformers = "*"
fastapi = "*"
pydantic = "*"
pydantic-settings = "*"
boto3 = "*"
awscli = "*"
moviepy = "*"
ffmpeg-python = "*"
torch = "*"
uv = "*"
sentencepiece = "*"
diffusers = {git = "https://github.com/huggingface/diffusers.git"}

[dev-packages]
