[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.11"

[packages]
torch = "*"
transformers = "*"
fastapi = "*"
pydantic = "*"
pydantic-settings = "*"
boto3 = "*"
awscli = "*"
moviepy = "*"
ffmpeg-python = "*"

[dev-packages]
