[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.11"

[packages]
beautifulsoup4 = "*"
torch = {version = "*", index = "https://download.pytorch.org/whl/cu118"}
transformers = "*"
fastapi = "*"
pydantic = "*"
pydantic-settings = "*"
boto3 = "*"
awscli = "*"
moviepy = "*"
ffmpeg-python = "*"

[dev-packages]
